.container .navbar-nav li.active a:hover  {background-color: #67cce9;}
.container .navbar-nav li.active a:focus  {background-color: #67cce9;}
.navbar-default .navbar-nav .open > a  background-color: #67cce9;}
.navbar-default .navbar-nav .open > a:hover  {background-color: #67cce9;}
.navbar-default .navbar-nav .open > a:focus  {background-color: #67cce9;}
.navbar-nav li.dropdown li > a:hover  {background-color: #208fad;}
.navbar-nav li.dropdown li > a:focus  {background-color: #208fad;}
.navbar .container .navbar-nav li.active .fa-caret-down  {color: #67cce9;}
.navbar-nav li.dropdown li > a  {color: #333333;}
.navbar-nav li.dropdown li > a:hover  {color: #000000;}
.navbar .container .navbar-nav.pull-right li a i:first-of-type  {border-color: #000000;}
.badge  {background-color: #000000;}
.badge  {color: #FFFFFF;}
.navbar-default  {background-color: #208fad;}
.container .navbar-nav li a  {color: #000000;}
.container .navbar-nav li.active > a  {background-color: #67cce9;}
.container .navbar-nav li.active > a  {color: white;}
.navbar-default, .dropdown-mega  {border-color: #FFFFFF;}
body  {background-color: #F0F0F0;}
body  {color: #333333;}
.text-primary  {color: #0C2A3A;}
.text-info  {color: #31708F;}
body a  {color: #0C2A3A;}
.btn-primary  {background-color: #0C2A3A;}
.btn-primary, .btn-primary:hover  {color: #FFFFFF;}
.btn-primary  {border-color: #081B24;}
.btn-primary:hover  {background-color: #051118;}
.btn-default  {background-color: #FFFFFF;}
.btn-default, .btn-default:hover  {color: #333333;}
.btn-default  {border-color: #CCCCCC;}
.btn-default:hover  {background-color: #EBEBEB;}
.btn-info  {background-color: #81C342;}
.btn-info, .btn-info:hover  {color: #FFFFFF;}
.btn-info  {border-color: #46B8DA;}
.btn-info:hover  {background-color: #39B3D7;}
.btn-success  {background-color: #80BC00;}
.btn-success, .btn-success:hover  {color: #FFFFFF;}
.btn-success  {border-color: #80BC00;}
.btn-success:hover  {background-color: #47A447;}
.btn-warning  {background-color: #f0ad4e;}
.btn-warning, .btn-warning:hover  {color: #FFFFFF;}
.btn-warning  {border-color: #EEA236;}
.btn-warning:hover  {background-color: #ED9C28;}
.btn-danger  {background-color: #D9534F;}
.btn-danger, .btn-danger:hover  {color: #FFFFFF;}
.btn-danger  {border-color: #D43F3A;}
.btn-danger:hover  {background-color: #D2322D;}
.jumbotron  {background-color: #FFFFFF;}
h2 .jumbotron  {color: #333333;}
.panel-primary .panel-heading .panel-title  {background-color: #0C2A3A;}
.panel-primary .panel-heading .panel-title  {color: #FFFFFF;}
.panel-default .panel-heading .panel-title  {background-color: #F5F5F5;}
.panel-default .panel-heading .panel-title  {color: #333333;}
.panel  {background-color: #FFFFFF;}
.panel-footer  {background-color: #F5F5F5;}
.panel-category-list .well  {background-color: #FFFFFF;}
.panel-category-list .well h5  {color: #333333;}
.panel-category-list .well  {border-color: #F0F0F0;}
.panel-product-list .well  {background-color: #FFFFFF;}
.panel-product-list .well  {color: #333333;}
.panel-product-list .well  {border-color: #F0F0F0;}
