<!--<section class="jumbotron active" ng-class="{'active': isActive('catalog')}" style="padding: 0;margin:0;">
    <div class="container bannerImage img-responsive">

        <h2 class="thumbnail" ng-show="Four51User.isAuthenticated()">
            <a ng-click="refreshUser()" href="catalog">
                <img class="img-responsive col-xs-12" ng-src="{{user.Company.LogoUrl}}" />
            </a>
        </h2>
        <homemessage />
    </div>
</section>-->
<section class="jumbotron " ng-class="{'active': isActive('catalog/ahmg_stationery')}" style="padding: 0;margin:0;">
  <div ng-class="{'active': isActive('catalog/ahmg_stationery')}" style="">
    <div class="AWMessage" style="">
      <div class="alert alert-danger" role="alert" style="text-align:center;margin-top:20px;padding-left: 100px;padding-right: 100px;">
        Please be advised that ALL orders placed will be held until <strong>January 2nd, 2019.</strong> No orders will be released until after that date. Due to high order volumes, orders may still be in production phases by the 2nd. Please reach out to a
          Thumbprint representative at <strong>AHMG@thumbprint.com</strong> with your order ID in the subject line for update on status
      </div>
    </div>
  </div>
</section>
<section class="jumbotron " ng-class="{'active': isActive('catalog/ahmg_stationery_LH')}" style="padding: 0;margin:0;">
  <div ng-class="{'active': isActive('catalog/ahmg_stationery_LH')}" style="">
    <div class="AWMessage" style="">
      <div class="alert alert-danger" role="alert" style="text-align:center;margin-top:20px;padding-left: 100px;padding-right: 100px;">
        Please be advised that ALL orders placed will be held until <strong>January 2nd, 2019.</strong> No orders will be released until after that date. Due to high order volumes, orders may still be in production phases by the 2nd. Please reach out to a
          Thumbprint representative at <strong>AHMG@thumbprint.com</strong> with your order ID in the subject line for update on status
      </div>
    </div>
  </div>
</section>
<section class="jumbotron " ng-class="{'active': isActive('catalog/ahmg_stationery_env')}" style="padding: 0;margin:0;">
  <div ng-class="{'active': isActive('catalog/ahmg_stationery_env')}" style="">
    <div class="AWMessage" style="">
        <div class="alert alert-danger" role="alert" style="text-align:center;margin-top:20px;padding-left: 100px;padding-right: 100px;">
          Please be advised that ALL orders placed will be held until <strong>January 2nd, 2019.</strong> No orders will be released until after that date. Due to high order volumes, orders may still be in production phases by the 2nd. Please reach out to a
            Thumbprint representative at <strong>AHMG@thumbprint.com</strong> with your order ID in the subject line for update on status
        </div>
    </div>
  </div>
</section>
<section class="jumbotron " ng-class="{'active': isActive('catalog/ahmg_stationery_mailers')}" style="padding: 0;margin:0;">
  <div ng-class="{'active': isActive('catalog/ahmg_stationery_mailers')}" style="">
    <div class="AWMessage" style="">
      <div class="alert alert-danger" role="alert" style="text-align:center;margin-top:20px;padding-left: 100px;padding-right: 100px;">
        Please be advised that ALL orders placed will be held until <strong>January 2nd, 2019.</strong> No orders will be released until after that date. Due to high order volumes, orders may still be in production phases by the 2nd. Please reach out to a
          Thumbprint representative at <strong>AHMG@thumbprint.com</strong> with your order ID in the subject line for update on status
      </div>
    </div>
  </div>
</section>
<section class="jumbotron " ng-class="{'active': isActive('catalog/ahmg_stationery_nc')}" style="padding: 0;margin:0;">
  <div ng-class="{'active': isActive('catalog/ahmg_stationery_nc')}" style="">
    <div class="AWMessage" style="">
      <div class="alert alert-danger" role="alert" style="text-align:center;margin-top:20px;padding-left: 100px;padding-right: 100px;">
        Please be advised that ALL orders placed will be held until <strong>January 2nd, 2019.</strong> No orders will be released until after that date. Due to high order volumes, orders may still be in production phases by the 2nd. Please reach out to a
          Thumbprint representative at <strong>AHMG@thumbprint.com</strong> with your order ID in the subject line for update on status
      </div>
    </div>
  </div>
</section>
<section class="jumbotron " ng-class="{'active': isActive('catalog/ahmg_stationery_labels')}" style="padding: 0;margin:0;">
  <div ng-class="{'active': isActive('catalog/ahmg_stationery_labels')}" style="">
    <div class="AWMessage" style="">
      <div class="alert alert-danger" role="alert" style="text-align:center;margin-top:20px;padding-left: 100px;padding-right: 100px;">
        Please be advised that ALL orders placed will be held until <strong>January 2nd, 2019.</strong> No orders will be released until after that date. Due to high order volumes, orders may still be in production phases by the 2nd. Please reach out to a
          Thumbprint representative at <strong>AHMG@thumbprint.com</strong> with your order ID in the subject line for update on status
      </div>
    </div>
  </div>
</section>
<section class="jumbotron " ng-class="{'active': isActive('catalog/ahmg_forms')}" style="padding: 0;margin:0;">
  <div ng-class="{'active': isActive('catalog/ahmg_forms')}" style="">
    <div class="AWMessage" style="">
      <div class="alert alert-danger" role="alert" style="text-align:center;margin-top:20px;padding-left: 100px;padding-right: 100px;">
        Please be advised that ALL orders placed will be held until <strong>January 2nd, 2019.</strong> No orders will be released until after that date. Due to high order volumes, orders may still be in production phases by the 2nd. Please reach out to a
          Thumbprint representative at <strong>AHMG@thumbprint.com</strong> with your order ID in the subject line for update on status
      </div>
    </div>
  </div>
</section>
<section class="jumbotron " ng-class="{'active': isActive('catalog/ahmg_promo')}" style="padding: 0;margin:0;">
  <div ng-class="{'active': isActive('catalog/ahmg_promo')}" style="">
    <div class="AWMessage" style="">
      <div class="alert alert-danger" role="alert" style="text-align:center;margin-top:20px;padding-left: 100px;padding-right: 100px;">
        Please be advised that ALL orders placed will be held until <strong>January 2nd, 2019.</strong> No orders will be released until after that date. Due to high order volumes, orders may still be in production phases by the 2nd. Please reach out to a
          Thumbprint representative at <strong>AHMG@thumbprint.com</strong> with your order ID in the subject line for update on status
      </div>
    </div>
  </div>
</section>
<section class="jumbotron " ng-class="{'active': isActive('catalog/ahmg_stationery_bc')}" style="padding: 0;margin:0;">
  <div ng-class="{'active': isActive('catalog/ahmg_stationery_bc')}" style="">
    <div class="AWMessage" style="">
      <div class="alert alert-danger" role="alert" style="text-align:center;margin-top:20px;padding-left: 100px;padding-right: 100px;">
        Please be advised that ALL orders placed will be held until <strong>January 2nd, 2019.</strong> No orders will be released until after that date. Due to high order volumes, orders may still be in production phases by the 2nd. Please reach out to a
          Thumbprint representative at <strong>AHMG@thumbprint.com</strong> with your order ID in the subject line for update on status
      </div>
    </div>
  </div>
</section>
<section class="jumbotron " ng-class="{'active': isActive('catalog/ahmg_patients')}" style="padding: 0;margin:0;">
  <div ng-class="{'active': isActive('catalog/ahmg_patients')}" style="">
    <div class="AWMessage" style="">
      <div class="alert alert-danger" role="alert" style="text-align:center;margin-top:20px;padding-left: 100px;padding-right: 100px;">
        Please be advised that ALL orders placed will be held until <strong>January 2nd, 2019.</strong> No orders will be released until after that date. Due to high order volumes, orders may still be in production phases by the 2nd. Please reach out to a
          Thumbprint representative at <strong>AHMG@thumbprint.com</strong> with your order ID in the subject line for update on status
      </div>
    </div>
  </div>
</section>
<section class="jumbotron " ng-class="{'active': isActive('catalog/ahmg_colleagues')}" style="padding: 0;margin:0;">
  <div ng-class="{'active': isActive('catalog/ahmg_colleagues')}" style="">
    <div class="AWMessage" style="">
      <div class="alert alert-danger" role="alert" style="text-align:center;margin-top:20px;padding-left: 100px;padding-right: 100px;">
        Please be advised that ALL orders placed will be held until <strong>January 2nd, 2019.</strong> No orders will be released until after that date. Due to high order volumes, orders may still be in production phases by the 2nd. Please reach out to a
          Thumbprint representative at <strong>AHMG@thumbprint.com</strong> with your order ID in the subject line for update on status
      </div>
    </div>
  </div>
</section>

<div class="product-search">
  <productsearchinput></productsearchinput>
</div>
