<style>
  .caption {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  width: fit-content;
  text-shadow: 0 0 8px rgba(0,0,0,.35);
}

.captionText {
  font-size: 3.333rem;
  line-height: 1.1;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
}
@media screen and (max-width: 1300px) {
  .caption {
    left: 25%;
  }
  .captionText {
    font-size: 50px;
  }
}
@media screen and (max-width: 950px) {
  .captionText {
    font-size: 40px;
  }
}

</style>
<div class="heroImage hidden-xs" ng-show="isActive('catalog')" style="">
  <div class="home-banner">
    <div class="caption">
      <p class="captionText">Employee Resources</p>
    </div>
  </div>
</div>

<div class="heroImage hidden-xs" ng-show="isActive('catalog/usdp_path')" style="">
  <div class="path-banner">
    <div class="caption">
      <p class="captionText">Order Your<br/>Label Path REQ Forms</p>
    </div>
  </div>
</div>


<div class="product-search hidden-md hidden-lg">
  <productsearchinput></productsearchinput>
</div>
