<!--<section class="jumbotron active" ng-class="{'active': isActive('catalog')}" style="padding: 0;margin:0;">
    <div class="container bannerImage img-responsive">

        <h2 class="thumbnail" ng-show="Four51User.isAuthenticated()">
            <a ng-click="refreshUser()" href="catalog">
                <img class="img-responsive col-xs-12" ng-src="{{user.Company.LogoUrl}}" />
            </a>
        </h2>
        <homemessage />
    </div>
</section>-->

<!--<section class="jumbotron " ng-class="{'active': isActive('catalog')}" style="padding: 0;margin:0;">
	<div ng-class="{'active': isActive('catalog')}" style="">
		<div class="AWMessage" style="">
			<div class="alert alert-warning" role="alert" style="text-align:center;margin-top:20px;background:#c7aee5;">
				<div class="container">
					<span class="" data-target="#myModal-home" data-toggle="modal"><span style="cursor:pointer;color:#773dbd;"><strong>Click HERE </strong>for ordering tutorial</span></span>

					<div class="modal fade" id="myModal-home" role="dialog">
						<div class="modal-dialog pumaModalDialog" style="width: fit-content;">
						
							<div class="modal-content" style="">
								<div class="modal-header"><button class="close" data-dismiss="modal" type="button">&times;</button>

									<h4 class="modal-title">O2B Kids Video</h4>
								</div>

								<iframe class="modal-body" src="https://player.vimeo.com/video/350989379" width="640" height="592" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

								<div class="modal-footer"><button class="btn btn-default" data-dismiss="modal" style="width:100px;" type="button">Close</button></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="jumbotron " ng-class="{'active': isActive('catalog/o2b_o2b')}" style="padding: 0;margin:0;">
	<div ng-class="{'active': isActive('catalog/o2b_o2b')}" style="">
		<div class="AWMessage" style="">
			<div class="alert alert-warning" role="alert" style="text-align:center;margin-top:20px;background:#c7aee5;">
				<div class="container">
					<span class="" data-target="#myModal-O2B" data-toggle="modal"><span style="cursor:pointer;color:#773dbd;"><strong>Click HERE </strong>for ordering tutorial</span></span>

					<div class="modal fade" id="myModal-O2B" role="dialog">
						<div class="modal-dialog pumaModalDialog" style="width: fit-content;">
						
							<div class="modal-content" style="">
								<div class="modal-header"><button class="close" data-dismiss="modal" type="button">&times;</button>

									<h4 class="modal-title">O2B Kids Video</h4>
								</div>

								<iframe class="modal-body" src="https://player.vimeo.com/video/350989379" width="640" height="592" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

								<div class="modal-footer"><button class="btn btn-default" data-dismiss="modal" style="width:100px;" type="button">Close</button></div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>

<section class="jumbotron " ng-class="{'active': isActive('catalog/o2b_palencia')}" style="padding: 0;margin:0;">
	<div ng-class="{'active': isActive('catalog/o2b_palencia')}" style="">
		<div class="AWMessage" style="">
			<div class="alert alert-warning" role="alert" style="text-align:center;margin-top:20px;background:#c7aee5;">
				<div class="container">
					<span class="" data-target="#myModal-Pal" data-toggle="modal"><span style="cursor:pointer;color:#773dbd;"><strong>Click HERE </strong>for ordering tutorial</span></span>

					<div class="modal fade" id="myModal-Pal" role="dialog">
						<div class="modal-dialog pumaModalDialog" style="width: fit-content;">
							
							<div class="modal-content" style="">
								<div class="modal-header"><button class="close" data-dismiss="modal" type="button">&times;</button>

									<h4 class="modal-title">O2B Kids Video</h4>
								</div>

								<iframe class="modal-body" src="https://player.vimeo.com/video/350989379" width="640" height="592" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

								<div class="modal-footer"><button class="btn btn-default" data-dismiss="modal" style="width:100px;" type="button">Close</button></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>-->



<div class="product-search hidden-md hidden-lg">
	<productsearchinput></productsearchinput>
</div>
