<footer class="container copyright-view footerBox">
    <div class="" style="margin-right: 15%;">
        <div class="row">
            <p class="text-right">
                <a href="http://public.four51.com/help-information/" target="_blank">
                    <img style="" src="images/thumbprint-Logo.png"/>
                </a>
            </p>
            <p class="text-right">
                {{'Copyright' | xlat}} © {{year}}<br /> thumbprint <br>{{'All Rights Reserved' | xlat}}.<br />
                <span ng-if="!(user.Permissions.contains('HideTerms'))">
                    <a class="btn btn-default btn-sm" href="conditions">
                        {{'Conditions of Use' | xlat}}
                    </a>
                </span>
            </p>
        </div>
    </div>
</footer>
