<footer class="container copyright-view footerBox">
    <div class="col-md-4 col-md-offset-1 col-md-push-7">
        <div class="row" style="margin-right: 15%;">
            <p class="text-right">
                <a href="https://thumbprint.com/" target="_blank">
                    <img style="" src="images/thumbprint-Logo.png" width="200"/>
                </a>
            </p>
            <p class="text-right">
                {{'Copyright' | xlat}} © {{year}}<br /> thumbprint <br>{{'All Rights Reserved' | xlat}}.<br />
                <span ng-if="!(user.Permissions.contains('HideTerms'))">
                    <a class="btn btn-default btn-sm" href="conditions">
                        {{'Conditions of Use' | xlat}}
                    </a>
                </span>
                <span ng-if="!(user.Permissions.contains('HideTerms'))">
                    <a class="btn btn-default btn-sm" href="https://www.iubenda.com/privacy-policy/71917948" target=”_blank”>
                        {{'Privacy Policy' | xlat}}
                    </a>
                </span>
            </p>
        </div>
    </div>
</footer>
  <ul class="hidden">
	<li>
	  <contentmodal7></contentmodal7>
	</li>
  </ul>
