<header class="header navbar navbar-inner">
  <nav tolerance='20' offset='200' class="navbar navbar-default" role="navigation" headroom>
    <section>
      <div class="container">
        <ul class="nav navbar-nav pull-left" style="margin-left: 15%;">
          <li class="back animated fadeInLeft" ng-class="{'ng-hide': isActive('catalog')}">
            <a href back-step class="back">
                            <i class="fa fa-arrow-left"></i>
                        </a>
          </li>
          <li class="products navItemsHover" ng-class="{'active': isInPath('catalog') || isInPath('product') || isInPath('cart/default') || isInPath('search')}">
            <a id="451qa_home_link" class="navItemsHover" ng-show="Four51User.isAuthenticated()" href="catalog">
                            <i class="fa fa-home"></i>
                            <span class="hidden-xs">{{'Products' | rc | xlat}}</span>
                        </a>
          </li>
          <li class="order navItemsHover" ng-if="user.Type == 'Customer'" ng-class="{'active': isActive('order'), 'active-xs': isActive('favoriteorders')}">
            <a id="451qa_order_link" class="navItemsHover" href="order">
                            <i ng-if="openOrderCount == 0" class="fa fa-clipboard"></i>
                            <span ng-if="openOrderCount > 0" class="badge">{{openOrderCount}}</span>
                            <span class="hidden-xs">{{'Orders' | r | xlat}}</span>
                        </a>
                       
          </li>

					<li class="order navItemsHover" ng-show="waitingOrderCount > 0" ng-if="user.Type == 'Customer'" ng-class="{'active': isActive('order'), 'active-xs': isActive('favoriteorders')}">
						<a id="451qa_order_link" class="navItemsHover" href="order">
														<i ng-if="waitingOrderCount == 0" class="fa fa-thumbs-o-up"></i>
														<span id="test" ng-if="waitingOrderCount > 0" class="badge">{{waitingOrderCount}}</span>
														<span class="hidden-xs">{{'Awaiting Approval' | r | xlat}}</span>
												</a>
					</li>
					
          <li class="report navItemsHover" ng-if="user.Type == 'Customer' && user.Permissions.contains('AdvancedReporting')" ng-class="{'active': isActive('reports')}">
            <a id="451qa_order_link" class="navItemsHover" href="reports">
                            <i class="fa fa-bar-chart-o"></i>
                            <span class="hidden-xs">{{'Reports' | r | xlat}}</span>
                        </a>
          </li>
          <li class="favorites navItemsHover hidden-sm hidden-md" ng-class="{'active': isActive('favoriteorders')}">
            <a id="451qa_fave_link" class="navItemsHover" href="favoriteorders">
                            <i class="fa fa-heart"></i>
                            <span class="hidden-xs">{{'Favorites' | r | xlat}}</span>
                        </a>
          </li>
          <li id="451qa_mesg_link" class="navItemsHover hidden-sm hidden-md" ng-show="user.Permissions.contains('ViewContactUs')" ng-class="{'active': isActive('contactus')}">
            <a href="contactus" class="navItemsHover">
                          <i class="fa fa-phone"></i>
                            <span class="hidden-xs">{{'Contact Us' | r| xlat}}</span>
                        </a>
          </li>
          <li ng-class="{'active': isActive(['admin', 'addresses', 'address', 'messages', 'message', 'favoriteorders'])}">
            <a id="451qa_acct_link" href="admin" class="hidden-md hidden-lg">
                            <i class="fa fa-cog"></i>
                            <span class="hidden-xs">{{'Account' | r | xlat}}</span>
                        </a>
          </li>
          <li class="dropdown admin-user visible-md visible-lg navItemsHover" ng-class="{'active': isActive(['admin', 'addresses', 'address', 'messages', 'message'])}">
            <a id="451qa_acct_link2" class="dropdown-toggle navItemsHover" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                            <span class="hidden-xs">{{'Account' | r | xlat}}</span>
                            <b class="caret"></b>
                        </a>
            <ul class="dropdown-menu">
              <li id="451qa_user_link" ng-show="user.Permissions.contains('ViewSelfAdmin')" class="admin">
                <a href="admin">
                                    {{'User Information' | r | xlat}}
                                </a>
              </li>
              <li id="451qa_addy_link" ng-show="user.Type == 'Customer' && (user.Permissions.contains('CreateShipToAddress') || user.Permissions.contains('CreateBillToAddress'))" class="addresses">
                <a href="addresses">
                                    {{'Addresses' | r | xlat}}
                                </a>
              </li>
              <li id="451qa_mesg_link" ng-show="user.Type == 'Customer' && user.Permissions.contains('ViewMessaging')" class="messages">
                <a href="message">
                                    {{'Messages' | r | xlat}}
                                </a>
              </li>
              <li class="favorites hidden-lg" ng-show="user.Type == 'Customer'">
                                <a id="451qa_fave_link" href="favoriteorders">
                                    {{'Favorites' | r | xlat}}
                                </a>
                            </li>
                            <li id="451qa_mesg_link" ng-show="user.Permissions.contains('ViewContactUs')" class="contactus hidden-lg">
                                <a href="contactus">
                                    {{'Contact Us' | r | xlat}}
                                </a>
                            </li>
              <li>
                <a href="#" neworder ng-if="user.Permissions.contains('MultipleShoppingCart') && currentOrder" class="neworder" ng-click="newOrderLoadingIndicator = true;startNewOrder()">
                                    {{"Start" | r | xlat}} {{"New" | r | xlat}} {{"Order" | r | xlat}}
                                </a>
              </li>
              <li class="divider" ng-show="user.Type!='TempCustomer' || AppConst.debug"></li>
              <li ng-show="user.Type!='TempCustomer'" class="logout">
                <a href="#" class="451_btn_logout" ng-click="Logout()">
                                    <i class="fa fa-power-off text-danger"></i>
                                    <span>{{'Log Out' | r | xlat}}</span>
                                </a>
              </li>
              <li ng-if="AppConst.debug">
                <a href="#" ng-click="Clear()">
                                    <i class="fa fa-archive"></i>
                                    <span class="text-nav">Clear Cache</span>
                                </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right cartNav hidden-sm hidden-md hidden-lg">
          <li class="cart" ng-class="{'active': isActive('cart')}">
            <a id="451qa_cart_link" ng-show="cartCount" class="carta" href="cart">
                            <i class="fa fa-shopping-cart fa-lg"></i>
                            <span ng-bind="cartCount" class="badge"></span>
                            <i class="fa fa-caret-down"></i>
                        </a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right" style="margin-right:15%;">
          <li class="cart" ng-class="{'active': isActive(['cart', 'checkout'])}">
            <a id="451qa_cart_link" ng-show="(cartCount && cartCount > 0) && user.CurrentOrderID" class="cart" href="cart">
                            <span ng-bind="cartCount" class="badge"></span>
                            <i class="fa fa-shopping-cart"></i>
                            <i class="fa fa-caret-down"></i>
                        </a>
          </li>
        </ul>
        <!--<productsearchinputnav></productsearchinputnav>-->
        <ul class="pull-right cartNav hidden-xs hidden-sm hidden-md">
          <minicart></minicart>
        </ul>
      </div>
    </section>
  </nav>
<!-- <div ng-class="{'active': isActive('catalog')}">
  <div class="bannerImage">
    <img src="http://i68.tinypic.com/692kw0.png" class="img-responsive" style="width: 100%;display:none;">
  </div>
</div> -->

</header>

