<section class="marginTop">
    <accountnavigation ng-show="user.Permissions.contains('ViewSelfAdmin') || user.Type == 'Customer'" />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title panel-primary">{{('Contact' | r) + ' ' + ('Us' | r) | xlat }}</h3>
        </div>
        <div class="panel-body">
            <ul>
                <img src="https://thumbprint.box.com/shared/static/c021aix2gde6pptmf051yewuvvfkmr5y.png">
                Email us at <strong><a href="mailto:clientservices@thumbprint.com">clientservices@thumbprint.com</a></strong>
                <br>
                Give us a call at <strong>407.788.1234</strong>
                <br>
                Or click the chat button at the bottom of this page
                <br><br><br>
                <img src="https://thumbprint.box.com/shared/static/s3ud6667849bq109cvylyg9lyu8vyvhr.png">
                <strong>Monday - Friday, 8am to 5pm</strong>
                <br>
                Feel free to contact us outside of these hours via email, and one of our teammates will get back to you as soon as possible.
            <ul>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</section>
