<style>
  .cart-title {
    color: #208fad;
    font-family: 'Lato',sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.74px;
    line-height: 63px;
  }
  .order-details-container {
    padding: 10px;
    min-width: 400px;
    border-radius: 5px;
    margin-bottom: 100px;
 }
 .contactus-text {
   color: #67cce9;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Lato',sans-serif;
 }
   @media screen and (max-width: 1250px) {
  .order-details-container {
    width: 400px;
 }
}
   @media screen and (max-width: 1110px) {
  .order-details-container {
    width: 350px;
 }
}
   @media screen and (max-width: 950px) {
  .order-details-container {
    width: unset;
 }
}
</style>
<section class="marginTop">
    <accountnavigation ng-show="user.Permissions.contains('ViewSelfAdmin') || user.Type == 'Customer'" />
    <div class="order-details-container">
        <!--<div class="panel-heading">
            <h3 class="panel-title panel-primary">{{('Contact' | r) + ' ' + ('Us' | r) | xlat }}</h3>
        </div>-->
        <p class="cart-title" style="border-bottom: 1px solid #979797;">Contact Us</p>
        <div class="panel-body">
            <ul>
              <p class="contactus-text">ANY QUESTIONS?</p>
                <!-- <img src="https://thumbprint.box.com/shared/static/c021aix2gde6pptmf051yewuvvfkmr5y.png"> -->
                Email us at <strong><a href="mailto:usdp@thumbprint.com">usdp@thumbprint.com</a></strong>
                <br>
                Give us a call at <strong>1.800.759.9913</strong>
                <br>
                Chat with us via the blue button at the bottom of the screen.
                <br><br><br>
                <p class="contactus-text">OUR OFFICE HOURS:</p>
                <!-- <img src="https://thumbprint.box.com/shared/static/s3ud6667849bq109cvylyg9lyu8vyvhr.png"> -->
                <strong>Monday - Friday, 8am to 5pm</strong>
                <br>
                Feel free to contact us outside of these hours and one of our team members will respond as soon as possible!<br/>
                Or drop up us a line a via the contact form below.
            <ul>
            
                  
        <!--<div class="panel-footer">
        </div>-->
    </div>
</section>
